.form {
  margin: 1rem 0;
  height: 20rem;
  max-height: 22rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.control p {
  margin-top: 0;
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  transition: all 0.3 ease;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin-bottom: 0.4rem;
  width: 100%;
  font-weight: bold;
  color: rgb(48, 48, 49);
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(4deg, #202526, #3f2844, #15161a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  border: solid 3px transparent;
}

.actions button:hover,
.actions button:active {
  transition: box-shadow 0.25s ease-in-out;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(4deg, #202526, #3f2844, #15161a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: none;
}

.actions .submit {
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: none;
  font-weight: bold;
  color: rgb(227, 227, 228);
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(4deg, #202526, #3f2844, #15161a);
  background-origin: border-box;
  border: solid 3px transparent;
  background-clip: content-box, border-box;
}

.actions .submit:hover,
.actions .submit:active {
  box-shadow: 2px 1000px 1px #fff inset;
  color: #1f1d31;
}

.invalid label {
  color: #b02638;
}

.invalid input {
  border-color: #b61429;
  background-color: #ffeff1;
}

@media (min-width: 768px) {
  .actions button {
    cursor: pointer;
    background-color: transparent;
    padding: 0.5rem 2rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    /* border: none; */
    border: solid 3px transparent;
    width: 20%;
  }
}
