.form {
  text-align: center;
}

.form button {
  border-radius: 4px;
  font: inherit;
  cursor: pointer;
  color: white;
  padding: 0.1rem 1.5rem;
  font-weight: 700;
  border: none;
  border-bottom: solid 6px transparent;
  transition: box-shadow 200ms, border-bottom 0.4s ease-in-out;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #57b4cb, #8156d9, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #363535 inset;
}

.form button:disabled {
  cursor: auto;
  border-bottom: solid 6px #363535;
  color: grey;
  box-shadow: 2px 1000px 1px #363535 inset;
}

.form button.enabled {
  animation: wiggle 1000ms linear;
}

.form button:not([disabled]):hover {
  transform: scale(0.98);
}

.form button:not([disabled]):active {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #57b4cb, #8156d9, #ff48fa);
  transform: scale(0.96) translateY(0.07rem);
}

.Input {
  font-size: 1rem;
  display: inline-block;
  align-items: center;
  margin-bottom: 0rem;
  margin-right: 1.2rem;
}

.Input label {
  font-weight: bold;
  margin-right: 0.4rem;
}

.Input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

@media (min-width: 768px) {
  .form {
    text-align: right;
  }
  .form button {
    height: auto;
  }

  .Input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-3.75deg);
  }
  20% {
    transform: rotateZ(2.5deg);
  }
  25% {
    transform: rotateZ(-2.5deg);
  }
  30% {
    transform: rotateZ(1.5deg);
  }
  35% {
    transform: rotateZ(-1deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
